* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

header {
  background: #008080;
  padding: 10px 20px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-menu li {
  margin: 0 15px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #ffdd57;
}

main {
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #008080;
  text-transform: uppercase;
}

table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead {
  background: #008080;
  color: white;
}

thead th {
  padding: 10px;
  text-transform: uppercase;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background: #f1f1f1;
}

td,
th {
  padding: 10px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background: #008080;
  color: white;
  margin-top: 20px;
}
